
.registration-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form_parte{
    width: 400px;
}

#formEsRespuestaCorrecta{
    display: flex;
    flex-direction: column;
}
#reportarPreguntaOContinuar{
    text-align: center;
    margin-bottom: 10px;
}

.registration-form h2 {
    margin-bottom: 20px;
}
.conteinerTituloCategoria{
    padding: 0.01em 16px;
    color: #fff !important;
}