<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido!</h1>
        <p class="lead">Tu cuenta se ha activado con éxito.</p>
        <hr class="my-4">
        <p>¡Ahora puedes iniciar sesión!</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Ir al Login</a>
    </div>
</div>