<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Felicidades!</h4>
        <p>Se ha editado la pregunta con éxito.</p>
        <hr>
        <p class="mb-0">Puedes volver a la página principal.</p>
    </div>
    <a href="/editor" class="btn btn-primary">Volver</a>
</div>