<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Algo ha ocurrido!</h4>
        <p>El servidor tuvo un error.</p>
        <hr>
        <p class="mb-0">Puedes volver a la página principal.</p>
    </div>
    <a href="/homeUsuario" class="btn btn-primary">Volver</a>
</div>