<style>
    .card_wrap{
        flex-wrap: wrap;
        gap: 20px;
    }
    .nav-stats {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .nav-stats a {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .nav-stats button:hover {
        background-color: #0056b3;
    }
    .estadisticas-section{
        display: none;
    }
</style>
<div>
    <h2 class="text-center" >Estadisticas de Administrador</h2>
</div>

<div class="nav-stats">
    <button id="btn_jugadores">Cantidad de jugadores</button>
    <button id="btn_partidasJug">Partidas jugadas</button>
    <button id="btn_preguntas_juegO">Preguntas en el juego</button>
    <button id="btn_preguntas_creadas">Preguntas creadas</button>
    <button id="btn_usuarios_pais">Usuarios por país</button>
    <button id="btn_usuarios_sexo">Usuarios por sexo</button>
    <button id="btn_usuarios_edad">Usuarios por edad</button>
    <button id="btn_usuarios_nuevos">Usuarios nuevos</button>
</div>

<div class="container mt-4">
    <div class="card card_wrap">
        <div class="card-header bg-warning text-black estadisticas-section" id="cantidad_jugadores">
            <div class="container mt-3">
                <h3 class="text-center">Cantidad de jugadores</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de jugadores</td>
                        <td>{{{cant_jugadores}}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black estadisticas-section" id="btn_partidas">
            <div class="container mt-3">
                <h3 class="text-center">Partidas jugadas</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de partidas jugadas</td>
                        <td><span id="cantidad_partidas">{{cantidad_partidas}}</span></td>
                        <td>
                            <label for="timeframe"></label>
                            <select id="timeframe" name="timeframe">
                                <option value="day" >Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black estadisticas-section" id="btn_preguntas_juego">
            <div class="container mt-3">
                <h3 class="text-center">Preguntas en el juego</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de preguntas activas</td>
                        <td><span id="cantidad_preguntasActivas">{{cantidad_preguntas}}</td>
                        <td>
                            <label for="timeframe2"></label>
                            <select id="timeframe2" name="timeframe2">
                                <option value="day">Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black estadisticas-section" id="btn_preguntas-creadas">
            <div class="container mt-3">
                <h3 class="text-center">Preguntas creadas</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de preguntas creadas</td>
                        <td><span id="cantidad_preguntasCreadas">{{cantidad_preguntas_creadas}}</span></td>
                        <td>
                            <label for="timeframe3"></label>
                            <select id="timeframe3" name="timeframe3">
                                <option value="day">Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-header bg-warning text-black estadisticas-section" id="cantidad-usuarios-pais">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios por pais</h3>
                <label for="timeframe5">Filtrar Por: </label>
                <select id="timeframe5" name="timeframe5">
                    <option value="day">Día</option>
                    <option value="week">Semana</option>
                    <option value="month">Mes</option>
                    <option value="year">Año</option>
                </select>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pais</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Argentina</td>
                        <td id="cantidad_usuarios_argentinos">{{cantidad_usuarios_argentinos}}</td>
                    </tr>
                    <tr>
                        <td>Uruguay</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Chile</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Brasil</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black estadisticas-section" id="cantidad-usuarios-sexo">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios por sexo</h3>
                <label for="timeframe4">Filtrar Por: </label>
                <select id="timeframe4" name="timeframe4">
                    <option value="day">Día</option>
                    <option value="week">Semana</option>
                    <option value="month">Mes</option>
                    <option value="year">Año</option>
                </select>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Sexo</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Masculino</td>
                        <td><span id="cantidad_usuarios_masculinos">{{cantidad_usuarios_masculinos}}</span></td>
                    </tr>
                    <tr>
                        <td>Femenino</td>
                        <td><span id="cantidad_usuarios_femeninos">{{cantidad_usuarios_femeninos}}</span></td>
                    </tr>
                    <tr>
                        <td>Prefiero no decirlo</td>
                        <td> <span id="cantidad_usuarios_nodecididos">{{cantidad_usuarios_nodecididos}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black estadisticas-section" id="cantidad-usuarios-edad">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios por grupo</h3>
                <label for="timeframe6">Filtrar Por:</label>
                <select id="timeframe6" name="timeframe6">
                    <option value="day">Día</option>
                    <option value="week">Semana</option>
                    <option value="month">Mes</option>
                    <option value="year">Año</option>
                </select>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Grupo</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Menores de 18</td>
                            <td><span id="cantidad_usuarios_menores">{{cantidad_usuarios_menores}}</span></td>
                        </tr>
                        <tr>
                            <td>Medio (entre 18 y 60)</td>
                            <td><span id="cantidad_usuarios_medio">{{cantidad_usuarios_medio}}</span></td>
                        </tr>
                        <tr>
                            <td>Jubilados (>60)</td>
                            <td><span id="cantidad_usuarios_mayores">{{cantidad_usuarios-mayores}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black estadisticas-section" id="cantidad-usuarios-nuevos">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios nuevos</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de usuarios nuevos</td>
                        <td>100</td>
                        <td>
                            <label for="timeframe">Filtrar Por:</label>
                            <select id="timeframe" name="timeframe">
                                <option value="day">Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-header bg-warning text-black estadisticas-section" id="cantidad-resp-correctas">
            <div class="container mt-3">
                <h3 class="text-center">Porcentaje de respuestas correctas por usuario</h3>
                <table class="table table-striped table-hover">
                    <label for="timeframe">Filtrar Por:</label>
                    <select id="timeframe" name="timeframe">
                        <option value="day">Día</option>
                        <option value="week">Semana</option>
                        <option value="month">Mes</option>
                        <option value="year">Año</option>
                    </select>
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Porcentaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#porcentaje_correctas}}
                        <tr>
                            <td><strong>{{username}}</strong></td>
                            <td>{{porcentaje}}%</td>
                        </tr>
                    {{/porcentaje_correctas}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div style="font-size: large; text-align: center; margin:30px " >
    <a href="/administrador/pdf" >--> Ver PDF <--</a>
</div>
<div style="
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
">
    <div id="btn-preguntas" class="estadisticas-section">
        <h2>Cantidad de preguntas creadas</h2>
        <img src="/administrador/grafico?id=1"/>
    </div>
    <div class="estadisticas-section" id="btn-user-new">
        <h2>Cantidad de Usuarios nuevos</h2>
        <img src="/administrador/grafico?id=2"/>
    </div>
    <div class="estadisticas-section" id="btn-partidas">
        <h2>Cantidad de Partidas jugadas</h2>
        <img src="/administrador/grafico?id=3"/>
    </div>
    <div class="estadisticas-section" id="btn-graficosex">
        <h2>Usuarios por sexo</h2>
        <img src="/administrador/grafico?id=4"/>
    </div>
    <div class="estadisticas-section" id="btn-edad">
        <h2>Usuarios por grupo de edad</h2>
        <img src="/administrador/grafico?id=5"/>
    </div>
    <div class="estadisticas-section" id="btn-pais">
        <h2>Usuarios por pais</h2>
        <img src="/administrador/grafico?id=6"/>
    </div>
    <div class="estadisticas-section" id="btn-porcentajeUser">
        <h2>Porcentaje de preguntas respondidas correctamente por usuario</h2>
        <img src="/administrador/grafico?id=7"/>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/tiempoSelect.js"></script>
<script>

    $(document).ready(function() {
        $('#btn_jugadores').click(function() {
            $('.estadisticas-section').hide();
            $('#btn-preguntas').show();
            $('#cantidad_jugadores').show();
        });

        $('#btn_partidasJug').click(function() {
            $('.estadisticas-section').hide();
            $('#btn-partidas').show();
            $('#btn_partidas').show();
        });
        $('#btn_usuarios_nuevos').click(function() {
            $('.estadisticas-section').hide();
            $('#btn-user-new').show();
            $('#cantidad-usuarios-nuevos').show();
        });

        $('#btn_preguntas_juegO').click(function() {
            $('.estadisticas-section').hide();
          //  $('#btn-user-new').show();
            $('#btn_preguntas_juego').show();
        });

        $('#btn_preguntas_creadas').click(function() {
            $('.estadisticas-section').hide();
            $('#btn-preguntas').show();
            $('#btn_preguntas-creadas').show();
        });

        $('#btn_usuarios_pais').click(function() {
            $('.estadisticas-section').hide();
            $('#cantidad-usuarios-pais').show();
            $('#btn-pais').show();
        });

        $('#btn_usuarios_sexo').click(function() {
            $('.estadisticas-section').hide();
            $('#cantidad-usuarios-sexo').show();
            $('#btn-graficosex').show();
        });
        $('#btn_usuarios_edad').click(function() {
            $('.estadisticas-section').hide();
            $('#cantidad-usuarios-edad').show();
            $('#btn-edad').show();
        });
        $('#btn_usuarios_edad').click(function() {
            $('.estadisticas-section').hide();
            $('#cantidad-usuarios-edad').show();
            $('#btn-edad').show();
        });
    });
</script>