<style>
    .card_wrap{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
</style>
<div>
    <h2 class="text-center" >Estadisticas de Administrador</h2>
</div>

<div class="container mt-4">
    <div class="card card_wrap">
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Cantidad de jugadores</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de jugadores</td>
                        <td>{{{cant_jugadores}}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Partidas jugadas</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de partidas jugadas</td>
                        <td><span id="cantidad_partidas">{{cantidad_partidas}}</span></td>
                        <td>
                            <label for="timeframe"></label>
                            <select id="timeframe" name="timeframe">
                                <option value="day" >Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Preguntas en el juego</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de preguntas activas</td>
                        <td id="cantidad_preguntasActivas">{{{cantidad_preguntasActivas}}}</td>
                        <td>
                            <label for="timeframe2"></label>
                            <select id="timeframe2" name="timeframe2">
                                <option value="day">Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Preguntas creadas</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de preguntas creadas activas</td>
                        <td>{{{cantidad_preguntas_creadas}}}</td>
                        <td>
                            <label for="timeframe"></label>
                            <select id="timeframe2" name="timeframe1">
                                <option value="day">Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios por pais</h3>
                <label for="timeframe">Filtrar Por: </label>
                <select id="timeframe" name="timeframe">
                    <option value="day">Día</option>
                    <option value="week">Semana</option>
                    <option value="month">Mes</option>
                    <option value="year">Año</option>
                </select>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pais</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Argentina</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Uruguay</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Chile</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Brasil</td>
                        <td>100</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios por sexo</h3>
                <label for="timeframe">Filtrar Por: </label>
                <select id="timeframe" name="timeframe">
                    <option value="day">Día</option>
                    <option value="week">Semana</option>
                    <option value="month">Mes</option>
                    <option value="year">Año</option>
                </select>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Sexo</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Masculino</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Femenino</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>Prefiero no decirlo</td>
                        <td>10</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios por grupo</h3>
                <label for="timeframe">Filtrar Por:</label>
                <select id="timeframe" name="timeframe">
                    <option value="day">Día</option>
                    <option value="week">Semana</option>
                    <option value="month">Mes</option>
                    <option value="year">Año</option>
                </select>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Grupo</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Menores de 18</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Medio (entre 18 y 60)</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Jubilados (>60)</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header bg-warning text-black">
            <div class="container mt-3">
                <h3 class="text-center">Usuarios nuevos</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Metrica</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Filtracion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cantidad de usuarios nuevos</td>
                        <td>100</td>
                        <td>
                            <label for="timeframe">Filtrar Por:</label>
                            <select id="timeframe" name="timeframe">
                                <option value="day">Día</option>
                                <option value="week">Semana</option>
                                <option value="month">Mes</option>
                                <option value="year">Año</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
">
    <div>
        <h2>Cantidad de preguntas creadas</h2>
        <img src="/administrador/graficoDePreguntasCreadas"/>
    </div>
    <div>
        <h2>Cantidad de Usuarios nuevos</h2>
        <img src="/administrador/graficoDeUsuariosNuevos"/>
    </div>
    <div>
        <h2>Cantidad de Partidas jugadas</h2>
        <img src="/administrador/graficoDePartidas"/>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/tiempoSelect.js"></script>