<div>
    <h2 class="text-center" >Estadisticas de Administrador</h2>
</div>

<div class="nav-stats">
    <a href="">Cantidad de jugadores</a>
    <a href="">Partidas jugadas</a>
    <a href="">Preguntas en el juego</a>
    <a href="">Preguntas creadas</a>
    <a href="">Usuarios por país</a>
</div>

<div class="container mt-4">
    <div class="container mt-3">
        <h3 class="text-center">Cantidad de jugadores</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Metrica</th>
                <th scope="col">Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cantidad de jugadores</td>
                <td>{{{cant_jugadores}}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>