<div>
    <a href="/editor/mostrarTodasLasPreguntas"  class="btn btn-success">Preguntas</a>
    <a href="/editor/get"  class="btn btn-success">Preguntas sugeridas</a>
    <a href="/editor/mostrarPreguntasReportadas"  class="btn btn-danger">Preguntas reportadas</a>
</div>
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-warning text-black">
            <div class="container mt-5">
                <h1 class="text-center">Preguntas reportadas</h1>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pregunta</th>
                        <th scope="col">Respuestas</th>
                        <th scope="col">Descripción del Reporte</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#pregunta}}
                        <tr>
                            <td>{{Pregunta}}</td>
                            <td>{{Respuestas}}</td>
                            <td>{{DescripcionReporte}}</td>
                            <td>
                                <a href="/editor/aprobarPregunta?id={{idPregunta}}"  class="btn btn-success">Aprobar pregunta</a>
                                <a href="/editor/eliminarPregunta?id={{idPregunta}}" class="btn btn-danger">Eliminar pregunta</a>
                            </td>
                        </tr>
                    {{/pregunta}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>