<!-- End Page Content -->

</div>

<!-- Footer -->
<footer style="display: flex; justify-content: space-around; padding: 2rem 0;" class="footer">
    <div class="nombre"><h5>Ignacio</h5></div>
    <div class="nombre"><h5>Pablo</h5></div>
    <div class="nombre"><h5>Lucas</h5></div>
    <div class="nombre"><h5>Mora</h5></div>
</footer>

</body>
</html>
