<!-- End Page Content -->

</div>

<!-- Footer -->
<footer style="display: flex;justify-content: space-around;padding: 2rem 0;bottom: 0;position:fixed;right: 0px;left: 0px;" class="footer">
    <div class="nombre"><h5>Ignacio</h5></div>
    <div class="nombre"><h5>Pablo</h5></div>
    <div class="nombre"><h5>Lucas</h5></div>
    <div class="nombre"><h5>Mora</h5></div>
</footer>

</body>
</html>
