<!DOCTYPE html>
<html lang="en">
<title>Preguntados</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="/public/css/header/header.css">
<link rel="stylesheet" href="/public/css/footer/footer.css">
<link rel="stylesheet" href="/public/css/registro/form.css">
<link rel="stylesheet" href="/public/css/login/login.css">
<link rel="stylesheet" href="/public/css/juego/juego.css">
<link rel="stylesheet" href="/public/css/juego/reporteDePregunta.css">
<link rel="stylesheet" href="/public/css/respuestas/respuestas.css">

<style>.amarillo {color: yellow;}</style>

<body>
<header>
    <!-- Navbar -->
    <div class="navbar">
        <div class="w3-bar w3-black w3-card">
            <a href="/homeUsuario" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor Jugador">Home</a>
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/perfil" class="w3-bar-item w3-button w3-padding-large" data-rol= "Administrador Editor Jugador" >Mi Perfil</a>
            <a href="/homeUsuario/obtenerPuntosTotales" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor Jugador" >Ver puntaje total</a>
            <a href="/ranking" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor Jugador" >Ver Ranking</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor">Trampitas: 0</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small amarillo" data-rol="Administrador Editor Jugador" id="rolUsuario">Rol: {{{rol}}} </a>
            <a href="/pregunta" class="w3-bar-item w3-button w3-padding-large w3-hide-small amarillo" data-rol="Administrador Editor Jugador" >Sugerir Pregunta</a>
            <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor Jugador" >Cerrar sesion</a>
            <a href="/editor" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor">Editor</a>
            <a href="/administrador/get" class="w3-bar-item w3-button w3-padding-large w3-hide-small" data-rol="Administrador Editor">Administrador</a>
        </div>
    </div>
</header>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var rolesPermitidos = ["Administrador","Editor","Jugador"];
        var rolUsuario = "{{rol}}";
        var elementosRol = document.querySelectorAll("[data-rol]");

        elementosRol.forEach(function(elemento) {
            var rolesElemento = elemento.getAttribute("data-rol").split(" ");
            if (rolesElemento.includes(rolUsuario)) {
                elemento.style.display = "inline-block";
            } else {
                elemento.style.display = "none";
            }
            
        });
    });
</script>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">