<div class="container mt-5">
    <h2>Buscar y Editar Preguntas</h2>
    <div class="form-group">
        <label for="buscar-pregunta">Buscar Pregunta:</label>
        <form action="/editor/buscarEliminarPregunta" method="GET">
            <input type="text" class="form-control" id="buscar-preguntaEliminar" name="param" placeholder="Ingrese el ID o título de la pregunta">
            <button type="submit" class="btn btn-primary mt-2">Buscar</button>
        </form>
    </div>

    <div id="resultado-busqueda" class="mt-4">
        {{#preguntasEncontradas}}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">ID: {{id}}</h5>
                    <p class="card-text">Texto actual: {{texto}}</p>
                    <form action="/editor/eliminarPregunta" method="GET">
                        <label for="nuevo_texto_{{id}}">Nuevo texto:</label>
                        <input type="text" id="nuevo_texto_{{id}}" name="nuevo_texto" class="form-control mb-2" placeholder="Ingrese el nuevo texto">
                        <button type="submit" class="btn btn-success">Actualizar pregunta</button>
                        <input type="hidden" name="pregunta_id" value="{{id}}">
                    </form>
                </div>
            </div>
        {{/preguntasEncontradas}}


    </div>
</div>
