<h1>Compra de Trampitas</h1>
{{#usuario}}
    <p>Usuario: {{username}}</p>
    <p>Trampitas disponibles: {{trampita}}</p>
    <p>Dinero restante: {{dinero}}</p>
{{/usuario}}
<a href="volver">Volver</a>