<div class="registration-form">
    <div class="form-log">
        <h2 class="log">Crear Pregunta</h2>

        <form id="logForm" action="pregunta/crearPreguntaSugerida" method="post" enctype="multipart/form-data">
            <div class="form_parte">

                <div class="form-group">
                    <label for="texto">Pregunta</label>
                    <input type="text" class="form-control" id="texto" name="texto" placeholder="Ingrese su pregunta" required>
                </div>

                <div class="form-group">
                    <label for="id_categoria">Categoría</label>
                    <select class="form-control" id="id_categoria" name="id_categoria" required>
                        {{#categorias}}
                            <option value="{{id}}">{{nombre}}</option>
                        {{/categorias}}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </form>
    </div>

</div>
<style>
    .form_parte{
        margin: auto;
    }
</style>
