<div class="registration-form ">
    <div class="form-log">
        <h2 class="log">Crear Pregunta</h2>
        <form id="logForm" action="respuesta" method="post" enctype="multipart/form-data">
            <div class="form_parte">
                <div class="form-group">
                    <label for="pregunta">Pregunta</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="ingrese su pregunta" required>
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </form>
    </div>
</div>