<div class="container mt-5">
    <h2>Editar Pregunta</h2>
    <div class="form-group">
        <label for="buscar-pregunta">Buscar Pregunta:</label>
        <input type="text" class="form-control" id="buscar-pregunta" placeholder="Ingrese el ID o título de la pregunta">
    </div>
    <button type="submit" class="btn btn-primary" onclick="buscarPregunta()">Buscar</button>

    <div id="resultado-busqueda" class="mt-4">
        <form action="/editor/actualizarPregunta" method="POST">
            {{#preguntasEncontradas}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">ID: {{id}}</h5>
                        <p class="card-text">Texto actual: {{texto}}</p>
                        <label for="nuevo_texto_{{id}}">Nuevo texto:</label>
                        <input type="text" id="nuevo_texto_{{id}}" name="nuevo_texto_{{id}}" class="form-control mb-2" placeholder="Ingrese el nuevo texto">
                        <button type="submit" class="btn btn-success">Actualizar pregunta</button>
                        <input type="hidden" name="pregunta_id" value="{{id}}">
                    </div>
                </div>
            {{/preguntasEncontradas}}
            {{^preguntasEncontradas}}
                <p>No se encontraron preguntas.</p>
            {{/preguntasEncontradas}}
        </form>
    </div>
</div>

