<div class="container mt-5">
    <h2>Editar Pregunta</h2>

    {{#preguntaEncontrada}}
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title">ID: {{id}}</h5>
                <p class="card-text">Texto actual: {{texto}}</p>
                <div>
                    {{#categoria}}
                    <p>Categoría actual: {{nombre}}</p>
                    {{/categoria}}
                    <p>Dificultad actual: {{nivel}}</p>
                    <p>Respuesta correcta actual:
                        {{#respuestas}}
                            {{#es_correcta}}
                                {{texto}}
                            {{/es_correcta}}
                        {{/respuestas}}
                    </p>
                    <p>Respuestas incorrectas actuales:</p>
                    <ul>
                        {{#respuestas}}
                            {{^es_correcta}}
                                <li>{{texto}}</li>
                            {{/es_correcta}}
                        {{/respuestas}}
                    </ul>
                </div>
                <div>
                <form action="/editor/editarPregunta" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nuevo_texto">Nuevo texto:</label>
                        <input type="text" id="nuevo_texto" name="nuevo_texto" class="form-control mb-2" placeholder="Ingrese la nueva pregunta">
                    </div>
                    <div class="form-group">
                        <label for="nueva_categoria">Nueva categoría:</label>
                        <select id="nueva_categoria" name="nueva_categoria" class="form-control mb-2">
                            {{#allCategorias}}
                                <option value="{{id}}">{{nombre}}</option>
                            {{/allCategorias}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nueva_dificultad">Nueva dificultad:</label>
                        <select id="nueva_dificultad" name="nueva_dificultad" class="form-control mb-2">
                            <option value="FACIL">Fácil</option>
                            <option value="MEDIO">Intermedio</option>
                            <option value="DIFICIL">Difícil</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nueva_respuesta">Nueva respuesta correcta:</label>
                        <input type="text" id="nueva_respuesta" name="nueva_respuesta" class="form-control mb-2" placeholder="Ingrese la nueva respuesta">
                    </div>
                    <div class="form-group">
                        <label for="nueva_respuesta_incorrecta1">Nueva respuesta incorrecta 1:</label>
                        <input type="text" id="nueva_respuesta_incorrecta1" name="nueva_respuesta_incorrecta1" class="form-control mb-2" placeholder="Ingrese la nueva respuesta incorrecta 1">
                    </div>
                    <div class="form-group">
                        <label for="nueva_respuesta_incorrecta2">Nueva respuesta incorrecta 2:</label>
                        <input type="text" id="nueva_respuesta_incorrecta2" name="nueva_respuesta_incorrecta2" class="form-control mb-2" placeholder="Ingrese la nueva respuesta incorrecta 2">
                    </div>
                    <div class="form-group">
                        <label for="nueva_respuesta_incorrecta3">Nueva respuesta incorrecta 3:</label>
                        <input type="text" id="nueva_respuesta_incorrecta3" name="nueva_respuesta_incorrecta3" class="form-control mb-2" placeholder="Ingrese la nueva respuesta incorrecta 3">
                    </div>
                    <button type="submit" class="btn btn-success">Actualizar pregunta</button>
                    <input type="hidden" name="pregunta_id" value="{{id}}">
                </form>
            </div>
        </div>
        </div>
    {{/preguntaEncontrada}}

    {{^preguntaEncontrada}}
        <p>No se encontró la pregunta.</p>
    {{/preguntaEncontrada}}
</div>


