<div class="w3-container">
    <div class="w3-card w3-margin">
        {{#categoria}}
        <div class="conteinerTituloCategoria" style="background-color: {{{color}}}">
            <h2 id="tituloCategoria" >{{{nombre}}}</h2>
        </div>
        {{/categoria}}

        <form id="formEsRespuestaCorrecta" action="/partida/siguientePregunta" method="post" enctype="multipart/form-data">
            <div class="question-container">
                <input type="hidden" name="pregunta" value="{{id}}">
                <h3 class="question">{{{pregunta}}}</h3>
            </div>
            <div id="reportarPreguntaOContinuar" >
                <a href="/partida/reportarPregunta" >Reportar Pregunta</a>
                <br><br>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Continuar</button>
            </div>

        </form>
    </div>
</div>