<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">La categoria es: {{{categoria}}}</h4>
                <h4 class="alert-heading">La respuesta es: {{{valor_respuesta}}}</h4>
                <h4 class="alert-heading">La pregunta es: {{{pregunta}}}</h4>
                <a href="partida/siguientePregunta">Continuar</a>
            </div>
        </div>
    </div>
</div>