<body>
{{#usuario}}
<div class="container">
        <h2>Hola</h2>
        <h1>Bienvenidos {{username}} a preguntados</h1>

        <button class="btn btn-primary">
            <a href="/obtenerPregunta">Jugar</a>
            </button>

</div>



{{/usuario}}
</body>