<style>
    .welcome-container {
        margin-top: 50px;
        text-align: center;
    }

    .welcome-message {
        margin-bottom: 20px;
    }

    .play-button a {
        color: white;
        text-decoration: none;
    }
</style>
<body>

{{#usuario}}
    <div class="container welcome-container">
        <h2>Hola</h2>
        <h1 class="welcome-message">¡Bienvenido a Preguntados, {{username}}!</h1>

            <form id="registroForm" action="/partida" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id_usuario" value="{{id}}">
                <button type="submit" class="btn btn-primary">Jugar</button>
            </form>


    </div>
{{/usuario}}

</body>
</html>
