<body>

{{#usuario}}
<div class="container">
        <h2>Hola</h2>
        <h1>Bienvenido {{username}} a preguntados</h1>

        <button class="btn btn-primary">
            <a href="/partida">Jugar</a>
        </button>

</div>

{{/usuario}}


</body>