<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container d-flex vh-100">
    <div class="row justify-content-center align-self-center w-100">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body formContainter">
                    <h3 class="text-center">Iniciar Sesión</h3>
                    <form id="loginForm" action="#" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control"  name="email" placeholder="Ingresa tu email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control"  name="password" placeholder="Ingresa tu contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        <a href="#" class="btn btn-link btn-block">Olvidé mi Contraseña</a>
                        <a href="#" class="btn btn-secondary btn-block">Registrarse</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>