<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">{{{mensaje}}}</h4>
                <a href="/">Volver</a>
            </div>
        </div>
    </div>
</div>