<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    Menú de opciones
                </div>
                <div class="card-body">
                    <a href="/editor/verSugeridas" class="btn btn-primary btn-lg btn-block mb-3" id="ver-preguntas">Ver preguntas sugeridas</a>
                    <a href="/editor/buscarParaEditar" class="btn btn-warning btn-lg btn-block" id="eliminar-pregunta">Editar pregunta</a>
                    <a href="/editor/eliminarPregunta" class="btn btn-danger btn-lg btn-block" id="eliminar-pregunta">Eliminar pregunta</a>
                </div>
            </div>
        </div>
    </div>
</div>