<div class="container w3-card">
    <h1>Upss! Perdiste</h1>

    {{#puntaje}}
    <p class="points">Obtuviste {{puntaje}} puntos</p>
    {{/puntaje}}
    <a href="/homeUsuario" class="w3-button w3-blue button">Continuar</a>
</div>