

<div class="w3-container">
    <div class="w3-card w3-margin">
        <div class="w3-container w3-teal">
            <h2>Juego de Preguntas</h2>
            <div id="timer" class="w3-right w3-large"> 10</div>
        </div>

        <form id="respPregunta" action="/partida/procesarRespuesta" method="post" enctype="multipart/form-data">
            <div class="question-container">
                <h3 class="question">{{{categoria.nombre}}}</h3>
                {{#pregunta}}
                    <input type="hidden" name="pregunta" value="{{id}}">
                    <h3 class="question">{{texto}}</h3>
                {{/pregunta}}

                <ul class="answers">
                    {{#respuestas}}
                        <li class="answer">
                           <button type="submit" name="respuesta" value="{{texto}}"
                                    class="padding10_20"
                                    data-correct="{{es_correcta}}" onclick="checkAnswer(this)"
                                   >
                               {{texto}}
                            </button>
                        </li>
                    {{/respuestas}}
                </ul>

            </div>

            <input type="hidden" name="time_expired" id="time_expired" value="0">
        </form>

        <div>
            <h1 class="mensaje displayNone" >Mensaje</h1>
        </div>

    </div>
</div>

<script src="/public/js/partida.js"></script>




