<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1>Perfil de {{usuario.username}}</h1>
        </div>
        <div class="card-body">
            <p>Nombre: {{usuario.nombre_completo}}</p>
            <p>Email: {{usuario.email}}</p>
            <p>Puntaje: {{usuario.puntaje}}</p>
        </div>
    </div>
</div>
S