<div class="container mt-4">
<div class="card">
    <div class="card-header bg-danger text-white">

        <div class="container mt-5">
            <h1 class="text-center">Ranking del mundo mundialmente mundial</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Puntaje</th>
                </tr>
                </thead>
                <tbody>
                {{#usuarios}}
                    <tr>
                        <td>
                            <a href="/perfil/mostrarPerfil?username={{username}}"> {{username}}</a>
                        </td>
                        <td>{{puntaje}}</td>
                    </tr>
                {{/usuarios}}
                </tbody>
            </table>

        </div>
</div>
</div>
</div>
</div>
