<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <h3 class="alert-heading">Mensaje: </h3>
                {{{mensaje}}}
            </div>
        </div>
    </div>
</div>