<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            font-size: 18px;
            text-align: left;
            width: 80%;
            margin: 25px auto;
        }
        .styled-table th, .styled-table td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #ddd;
        }
        .subTitulo{
            text-align: center;
            padding: 15px 1px;
        }
    </style>
</head>
<body>

<h2 class="subTitulo" >Estadisticas del juego</h2>
<table class="styled-table">
    <thead>
    <tr>
        <th>Metrica</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jugadores</td>
            <td>{{cant_jugadores}}</td>
        </tr>
        <tr>
            <td>Partidas jugadas</td>
            <td>{{cantidad_partidas}}</td>
        </tr>
        <tr>
            <td>Preguntas en el juego</td>
            <td>{{cantidad_preguntas}}</td>
        </tr>
        <tr>
            <td>Preguntas creadas (activas)</td>
            <td>{{cantidad_preguntas_creadas}}</td>
        </tr>
    </tbody>
</table>

<h2 class="subTitulo">Cantidad de usuarios por sexo</h2>
<table class="styled-table">
    <thead>
    <tr>
        <th>Sexo</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
        {{#usuarios_por_sexo}}
            <tr>
                <td>{{sexo}}</td>
                <td>{{cantidad}}</td>
            </tr>
        {{/usuarios_por_sexo}}
    </tbody>
</table>

<h2 class="subTitulo">Cantidad de usuarios por Grupo de edad</h2>

<table class="styled-table">
    <thead>
    <tr>
        <th>Grupo edad</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
        {{#usuarios_por_grupoEdad}}
            <tr>
                <td>{{grupo_edad}}</td>
                <td>{{cantidad}}</td>
            </tr>
        {{/usuarios_por_grupoEdad}}
    </tbody>
</table>

<h2 class="subTitulo">Cantidad de usuarios por pais</h2>
<table class="styled-table">
    <thead>
    <tr>
        <th>Pais</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
    {{#usuarios_por_Pais}}
        <tr>
            <td>{{pais}}</td>
            <td>{{cant_usuarios}}</td>
        </tr>
    {{/usuarios_por_Pais}}
    </tbody>
</table>

<h2 class="subTitulo" >Graficos</h2>
<div >
    <img src="/public/imagenes/graficos/usuariosPorPais.png" alt="Imagen de ejemplo"/>
</div>

</body>
</html>